.display-block {
  display: block !important;
}

.bg-light-blue {
  // background-color: #86c7f3;
  background-color: #ffa1b5;
  color: white;
  // padding: auto 20px;
  margin: 0px;
}

.clr-white {
  color: white;
}

.padding-14 {
  padding: 14% auto !important;
}
