<div class="row">
    <div class="col-12">
      <nb-card>
        <nb-card-header class="bg-pink">
          Top Content(100)
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-3">
              <ngx-date-range (getRange)="rangeDates($event)"></ngx-date-range>
            </div>
            <div class="col-3">
              <h6>
                Rows you want to see
              </h6>
              <input nbInput placeholder="Rows to see" [(ngModel)]="rows" />
            </div>
            <div class="col-3">
              <h6>
                Select from page
              </h6>
              <input nbInput placeholder="From Page" [(ngModel)]="page" />
            </div>
            <div class="col-3">
              <button
                type="button"
                nbButton
                class="mt-4"
                (click)="getCustomChartData()"
              >
                Search
              </button>
            </div>
          </div>

          <br />
          <div *ngIf="showTable">
            <ng2-smart-table [settings]="settings" [source]="source">
            </ng2-smart-table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
