<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header style="background-color: #1c4e80; color: white">
        Top Views By Production House
      </nb-card-header>
      <nb-card-body>
        <!-- <div *ngIf="msg" id="msg" classs="mce-notification-success"> Notification</div> -->
        <div class="row">
          <div class="col-3">
            <ngx-date-range (getRange)="rangeDates($event)"></ngx-date-range>
          </div>
          <div class="col-6">
            <h6>Select Production House</h6>
            <ng-select
              [items]="productionHouseData"
              bindLabel="name"
              placeholder="Select Production House"
              appendTo="body"
              multiple="true"
              [(ngModel)]="selected"
              (change)="getSelectedValue()"
            >
            </ng-select>
          </div>
          <div class="col-3">
            <h6>Select Chart Type</h6>
            <ng-select
              [items]="chartStyle"
              bindLabel="nameBar"
              placeholder="Select Chart Type"
              appendTo="body"
              [(ngModel)]="chartStyleSelect"
              [clearable]="false"
              [searchable]="false"
              (change)="getSelectedValueOfChartType()"
            >
            </ng-select>
          </div>
        </div>
        <div class="chart-config">
          <chart
            type="{{ chartStyleSelect }}"
            [data]="data"
            [options]="options"
          ></chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
