<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header> Weekly Report</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-6">
            <ngx-date-range
              (getRange)="rangeDates($event, 'weekTable')"
            ></ngx-date-range>
          </div>
          <!-- <div class="col-6">
              <h6>Select Channel</h6>
              <ng-select
                [items]="weeklyChannelList"
                bindLabel="weeklyName"
                placeholder="Select Channel"
                appendTo="body"
                multiple="true"
                [(ngModel)]="weeklySelectedList"
                (change)="getSelectedValueWeeklyTable()"
              >
              </ng-select>
            </div> -->
        </div>
        <br />
        <div class="responsive-horizontal">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th
                  *ngFor="let date of weeklyDateToShow; let i = index"
                  scope="col"
                >
                  {{ weeklyDate[i] + " To " + weeklyDate[i + 1] }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cat of allCategories; let i = index">
                <th scope="row">{{ cat }}</th>
                <td *ngFor="let data of weeklyDataArray[cat]">
                  {{ data }}
                </td>

                <!-- <td></td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- Chart -->
  <div class="col-12">
    <nb-card>
      <nb-card-header> Weekly Report </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-3">
            <ngx-date-range
              (getRange)="rangeDates($event, 'weekChart')"
            ></ngx-date-range>
          </div>
          <div class="col-6">
            <h6>Select Channel</h6>
            <ng-select
              [items]="allCategories"
              placeholder="Select Category"
              appendTo="body"
              multiple="true"
              [(ngModel)]="weeklySelectedList"
              (change)="getSelectedCategory()"
            >
            </ng-select>
          </div>
          <!-- <div class="col-3">
            <h6>Select Chart Type</h6>
            <ng-select
            [items]="chartStyle"
            bindLabel="nameBar"
            placeholder="Select Chart Type"
            appendTo="body"
            [(ngModel)]="chartStyleSelect"
            [clearable]="false"
            [searchable]="false"
            (change)="getSelectedValueOfChartType()"
          >
          </ng-select>
          </div> -->
        </div>
        <div class="chart-config">
          <chart
            type="line"
            [data]="weeklyChartData"
            [options]="weeklyChartOption"
          ></chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
