<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header class="bg-pink">  Top Views By Platform </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-3">
            <ngx-date-range (getRange)="rangeDates($event)"></ngx-date-range>
          </div>
        </div>
        <div class="chart-config">
          <chart type="bar" [data]="userData" [options]="userOptions"></chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
