.padding-left{
  padding-left: 17% !important;
}
.block{
  display: block;
  text-align: center;
}

.bg-pink{
  background-color: #ffa1b5;
  padding: 10px !important;
  margin: 0px;
}

.txt-white{
  color: white;
}
