<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header> Production House </nb-card-header>
      <nb-card-body>
        <!-- <div *ngIf="msg" id="msg" classs="mce-notification-success"> Notification</div> -->
        <div class="row">
          <div class="col-6">
            <ng-select
              [items]="timePeriodList"
              bindLabel="name"
              placeholder="Time Period"
              appendTo="body"
              [clearable]="false"
              [(ngModel)]="selectedTimePeriod"
              (change)="getSelectedValueOfTimePeriod()"
            >
            </ng-select>
          </div>
          <div class="col-6">
            <ng-select
              [items]="productionHouseData"
              bindLabel="name"
              placeholder="Select Production House"
              appendTo="body"
              multiple="true"
              [(ngModel)]="selected"
              (change)="getSelectedValue()"
            >
            </ng-select>
          </div>
        </div>
        <div class="chart-config">
          <chart type="line" [data]="data" [options]="options"></chart>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
