<!-- combine data -->
<div class="col-xxl-12 mb-3 pb-4">
  <nb-card>
    <nb-card-header style="background-color: #1c4e80; color: white">
      Combine Data of all platforms
    </nb-card-header>
    <nb-card-body>
      <div *ngIf="tableShow" class="row">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <div class="row">
                  <div
                    *ngFor="let d of CurrentWeek; let i = index"
                    class="col-2"
                  >
                    <img src="{{ d.icon }}" width="30" />
                  </div>
                </div>
              </th>
              <th>Current Week</th>
              <th>Last Week</th>
              <th>Avg week over past 90 days</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let label of labelsArray; let i = index">
              <th scope="row">{{ label }}</th>
              <td *ngFor="let data of totalArray[label]">
                {{ data }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<div class="col-12 mt-3 mb-3">
  <ngx-trendline-charts></ngx-trendline-charts>
</div>
<!-- Web data -->
<div class="col-xxl-12 mb-3 pb-4">
  <nb-card>
    <nb-card-header style="background-color: #1c4e80; color: white">
      Website
    </nb-card-header>
    <nb-card-body>
      <div *ngIf="tableShow" class="row">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <img src="../../../../assets//images//web.png" width="30" />
              </th>
              <th>Current Week</th>
              <th>Last Week</th>
              <th>Avg week over past 90 days</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let label of labelsArray; let i = index">
              <th scope="row">{{ label }}</th>
              <td *ngFor="let data of webData[label]">
                {{ data }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<!-- Android data -->
<div class="col-xxl-12 mb-3 pb-4">
  <nb-card>
    <nb-card-header style="background-color: #1c4e80; color: white">
      Android
    </nb-card-header>
    <nb-card-body>
      <div *ngIf="tableShow" class="row">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <img src="../../../../assets//images//android.png" width="30" />
              </th>
              <th>Current Week</th>
              <th>Last Week</th>
              <th>Avg week over past 90 days</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let label of labelsArray; let i = index">
              <th scope="row">{{ label }}</th>
              <td *ngFor="let data of androidData[label]">
                {{ data }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<!-- IOS data -->
<div class="col-xxl-12 mb-3 pb-4">
  <nb-card>
    <nb-card-header style="background-color: #1c4e80; color: white">
      IOS
    </nb-card-header>
    <nb-card-body>
      <div *ngIf="tableShow" class="row">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <img src="../../../../assets//images//apple.png" width="30" />
              </th>
              <th>Current Week</th>
              <th>Last Week</th>
              <th>Avg week over past 90 days</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let label of labelsArray; let i = index">
              <th scope="row">{{ label }}</th>
              <td *ngFor="let data of iosData[label]">
                {{ data }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<!-- TV data -->
<div class="col-xxl-12 mb-3 pb-4">
  <nb-card>
    <nb-card-header style="background-color: #1c4e80; color: white">
      Tv
    </nb-card-header>
    <nb-card-body>
      <div *ngIf="tableShow" class="row">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <img src="../../../../assets//images//tv.png" width="30" />
              </th>
              <th>Current Week</th>
              <th>Last Week</th>
              <th>Avg week over past 90 days</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let label of labelsArray; let i = index">
              <th scope="row">{{ label }}</th>
              <td *ngFor="let data of tvData[label]">
                {{ data }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<!-- Fireos data -->
<div class="col-xxl-12 mb-3 pb-4">
  <nb-card>
    <nb-card-header style="background-color: #1c4e80; color: white">
      Fireos
    </nb-card-header>
    <nb-card-body>
      <div *ngIf="tableShow" class="row">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <img src="../../../../assets//images//video.png" width="30" />
              </th>
              <th>Current Week</th>
              <th>Last Week</th>
              <th>Avg week over past 90 days</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let label of labelsArray; let i = index">
              <th scope="row">{{ label }}</th>
              <td *ngFor="let data of fireosData[label]">
                {{ data }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</div>
