<div class="card col-xxl-12 mb-3 pb-4">
  <div class="row mt-2 mb-2">
    <div class="col-md-3 offset-md-9">
      <ng-select
        [items]="timePeriodList"
        bindLabel="weeklyName"
        placeholder="Select Channel"
        appendTo="body"
        [(ngModel)]="selectedTimePeriodList"
        (change)="getSelectedPeriod()"
        [clearable]="false"
      >
      </ng-select>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let d of data; let i = index" class="col-md-3">
      <div class="card shadow">
        <div class="card-header">
          {{selectedTimePeriodList}}
          <a
            class="float-right"
            [routerLink]="['/pages/platform']"
            routerLinkActive="active"
            >View detail</a
          >
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-sm-12 pt-3">
              <img src="{{ d.icon }}" width="45" />
            </div>
            <div class="col-md-9 col-sm-12 pt-3">
              <p style="line-height: 0.25rem">Plays: {{ d.plays }}</p>
              <p style="line-height: 0.25rem">Embeds: {{ d.embeds }}</p>
              <p style="line-height: 0.25rem">Completed: {{ d.completes }}</p>
              <p style="line-height: 0.25rem">
                Time watch: {{ d.timeWatched }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
