.card-body {
  padding: 0.25rem !important;
}

.half-rem {
  line-height: 2rem !important;
  font-weight: bold;
}
.font-cursive {
  font-family: sans-serif !important;
}

.bg-green {
  background-color: #8cba22 !important;
}

.text-white {
  color: white;
}
