<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header> Plays </nb-card-header>

        <nb-card-body>
          <div class="row">
            <div class="col-6">
              <ngx-date-range
                (getRange)="rangeDatesPlay($event, 'play')"
              ></ngx-date-range>
            </div>
            <!-- <div class="col-md-6">
            <h6>Select Production House</h6>
            <ng-select
              [items]="productionHouseData"
              bindLabel="name"
              placeholder="Select Production House"
              appendTo="body"
              multiple="true"
              [(ngModel)]="selected"
              (change)="getSelectedValue()"
            >
            </ng-select>
          </div> -->
          </div>
          <div class="responsive-horizontal">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th scope="col">Category</th>
                  <th
                    *ngFor="let date of DateArrayShowPlay; let i = index"
                    scope="col"
                  >
                    {{ DateArrayPlay[i] + " To " + DateArrayPlay[i + 1] }}
                  </th>

                  <th scope="col">Summary</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ph of productionHouseData; let i = index">
                  <th scope="row">{{ ph }}</th>
                  <td *ngFor="let play of playsData[ph]">
                    {{ play.report }}
                  </td>

                  <!-- <td>{{playsData[ph][0].report + " " + playsData[ph][playsData[ph].length-1].report}}</td> -->
                  <td>
                    {{
                      (((playsData[ph][playsData[ph].length - 1].report -
                        playsData[ph][0].report) /
                        playsData[ph][0].report) *
                        100 | number: "1.0-0")
                        ? (((playsData[ph][playsData[ph].length - 1].report -
                            playsData[ph][0].report) /
                            playsData[ph][0].report) *
                            100 | number: "1.0-0") + "%"
                        : "--"
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header> Time Watched</nb-card-header>

        <nb-card-body>
          <div class="row">
            <div class="col-6">
              <ngx-date-range
                (getRange)="rangeDatesPlay($event, 'time')"
              ></ngx-date-range>
            </div>
            <!-- <div class="col-md-6">
            <h6>Select Production House</h6>
            <ng-select
              [items]="productionHouseData"
              bindLabel="name"
              placeholder="Select Production House"
              appendTo="body"
              multiple="true"
              [(ngModel)]="selected"
              (change)="getSelectedValue()"
            >
            </ng-select>
          </div> -->
          </div>
          <div class="responsive-horizontal">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th scope="col">Category</th>
                  <th
                    *ngFor="let date of DateArrayShowTime; let i = index"
                    scope="col"
                  >
                    {{ DateArrayTime[i] + " To " + DateArrayTime[i + 1] }}
                  </th>

                  <th scope="col">Summary</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ph of productionHouseData; let i = index">
                  <th scope="row">{{ ph }}</th>
                  <td *ngFor="let time of watchTimeData[ph]">
                    <!-- {{ time.report ? time.report : "--" }} -->
                    {{ time.report }}
                  </td>

                  <td>
                    {{
                      (((watchTimeData[ph][watchTimeData[ph].length - 1].report -
                      watchTimeData[ph][0].report) /
                      watchTimeData[ph][0].report) *
                        100 | number: "1.0-0")
                        ? (((watchTimeData[ph][watchTimeData[ph].length - 1].report -
                        watchTimeData[ph][0].report) /
                        watchTimeData[ph][0].report) *
                            100 | number: "1.0-0") + "%"
                        : "--"
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header> 75% Complete</nb-card-header>

        <nb-card-body>
          <div class="row">
            <div class="col-6">
              <ngx-date-range
                (getRange)="rangeDatesPlay($event, '75')"
              ></ngx-date-range>
            </div>
            <!-- <div class="col-md-6">
            <h6>Select Production House</h6>
            <ng-select
              [items]="productionHouseData"
              bindLabel="name"
              placeholder="Select Production House"
              appendTo="body"
              multiple="true"
              [(ngModel)]="selected"
              (change)="getSelectedValue()"
            >
            </ng-select>
          </div> -->
          </div>
          <div class="responsive-horizontal">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th scope="col">Category</th>
                  <th
                    *ngFor="let date of DateArrayShow75; let i = index"
                    scope="col"
                  >
                    {{ DateArray75[i] + " To " + DateArray75[i + 1] }}
                  </th>

                  <th scope="col">Summary</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ph of productionHouseData; let i = index">
                  <th scope="row">{{ ph }}</th>
                  <td *ngFor="let data of percentComplete75[ph]">
                    <!-- {{ data.report ? data.report : "--" }} -->
                    {{ data.report }}
                  </td>

                  <td>
                    {{
                      (((percentComplete75[ph][percentComplete75[ph].length - 1].report -
                      percentComplete75[ph][0].report) /
                      percentComplete75[ph][0].report) *
                        100 | number: "1.0-0")
                        ? (((percentComplete75[ph][percentComplete75[ph].length - 1].report -
                        percentComplete75[ph][0].report) /
                        percentComplete75[ph][0].report) *
                            100 | number: "1.0-0") + "%"
                        : "--"
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
