<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header class="bg-pink">
        Top Views By Countries & Cities
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-3">
            <ngx-date-range (getRange)="rangeDates($event)"></ngx-date-range>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="chart-config">
              <chart type="bar" [data]="CRdata" [options]="CRoptions"></chart>
            </div>
          </div>
          <div class="col-6">
            <button nbButton (click)="nextCities()">Load More</button>
            <div class="chart-config">
              <chart type="bar" [data]="CYdata" [options]="CYoptions"></chart>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
