<nb-card size="large">
  <div class="row">
    <div
      *ngIf="chartShowToday"
      class="col-lg-6 col-md-6 col-sm-12 display-block"
    >
      <row class="bg-light-blue">
        <div class="col-12">
          <h5 class="text-center">Today's</h5>
          <ngx-date-range
            (getRange)="rangeDatesPlay($event, 'today')"
          ></ngx-date-range>
        </div>
      </row>
      <canvas
        class="display-block"
        baseChart
        [data]="pieChartDataToday"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="barChartOptions"
      ></canvas>
    </div>
    <div
      *ngIf="chartShowYesterday"
      class="col-lg-6 col-md-6 col-sm-12 display-block"
    >
      <row class="bg-light-blue">
        <div class="col-12">
          <h5 class="text-center">Yesterday</h5>
          <ngx-date-range
            (getRange)="rangeDatesPlay($event, 'yesterday')"
          ></ngx-date-range>
        </div>
      </row>
      <canvas
        class="display-block"
        baseChart
        [data]="pieChartDataYesterday"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="barChartOptions"
      ></canvas>
    </div>
  </div>
</nb-card>
