.display-block {
  display: block !important;
}

.bg-light-blue {
  // background-color: #86c7f3;
  background-color: #ffa1b5;
  color: white;
  // padding: auto 20px;
  margin: 0px;
}

.chart-size {
  width: 500px !important;
  height: 500px !important;
}
.clr-white {
  color: white;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}
