<nb-card size="medium" class="mt-3">
  <div class="row">
    <div
      *ngIf="chartShowCurrentWeek"
      class="col-lg-4 col-md-4 col-sm-12 display-block"
    >
      <div class="row pl-3 pr-1 pb-2">
        <div class="col-12" style="background-color: #1c4e80; color: white">
          <h5 class="text-center clr-white">
            Production house <sub>(Current Week)</sub>
          </h5>
          <!-- <ngx-date-range
            (getRange)="rangeDatesPlay($event, 'today')"
          ></ngx-date-range> -->
        </div>
      </div>
      <div class="padding-14">
        <apx-chart
          [series]="chartOptionCurrentWeek.series"
          [chart]="chartOptionCurrentWeek.chart"
          [labels]="chartOptionCurrentWeek.labels"
          [responsive]="chartOptionCurrentWeek.responsive"
        ></apx-chart>
      </div>
    </div>
    <div
      *ngIf="chartShowLastWeek"
      class="col-lg-4 col-md-4 col-sm-12 display-block"
    >
      <div class="row pl-1 pr-3 pb-2">
        <div class="col-12" style="background-color: #1c4e80; color: white">
          <h5 class="text-center clr-white">
            Production house <sub> (Last Week)</sub>
          </h5>
          <!-- <ngx-date-range
            (getRange)="rangeDatesPlay($event, 'yesterday')"
          ></ngx-date-range> -->
        </div>
      </div>
      <div class="padding-14">
        <apx-chart
          [series]="chartOptionLastWeek.series"
          [chart]="chartOptionLastWeek.chart"
          [labels]="chartOptionLastWeek.labels"
          [responsive]="chartOptionLastWeek.responsive"
        ></apx-chart>
      </div>
    </div>
    <div
      *ngIf="chartShowLast90Days"
      class="col-lg-4 col-md-4 col-sm-12 display-block"
    >
      <div class="row pr-1 pb-2">
        <div class="col-12" style="background-color: #1c4e80; color: white">
          <h5 class="text-center clr-white">
            Production house <sub>(Weekly Avg 90d)</sub>
          </h5>
          <!-- <ngx-date-range
          (getRange)="rangeDatesPlay($event, 'today')"
        ></ngx-date-range> -->
        </div>
      </div>
      <div class="padding-14">
        <apx-chart
          [series]="chartOptionLast90Days.series"
          [chart]="chartOptionLast90Days.chart"
          [labels]="chartOptionLast90Days.labels"
          [responsive]="chartOptionLast90Days.responsive"
        ></apx-chart>
      </div>
    </div>
  </div>
</nb-card>
