<div class="row">
  <div class="col-md-12">
    <ngx-custom-card></ngx-custom-card>
  </div>
  <div class="col-xxl-5">
    <!-- <ngx-traffic-reveal-card></ngx-traffic-reveal-card> -->
    <ngx-top-ten></ngx-top-ten>
  </div>

  <div class="col-xxl-7">
    <!-- <ngx-ecommerce-charts></ngx-ecommerce-charts> -->
    <!-- <ngx-views-by-tags></ngx-views-by-tags> -->
    <!-- <ngx-top-movies></ngx-top-movies> -->
    <ngx-prod-house></ngx-prod-house>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->
