<div class="row">
  <div class="col-md-12">
    <ngx-custom-card></ngx-custom-card>
    <!-- <ngx-user-chart></ngx-user-chart> -->
  </div>

  <div class="col-xxl-12">
    <ngx-production-charts></ngx-production-charts>
  </div>

  <div class="col-xxl-12">
    <ngx-category-chart></ngx-category-chart>
  </div>

  <!-- <div class="col-xxl-12">
    <ngx-prod-house></ngx-prod-house>
  </div> -->
</div>
<div class="col-xxl-12">
  <ngx-top-ten></ngx-top-ten>
</div>

<!-- <div class="row">
  <div class="col-xxl-12">
    <ngx-country-orders></ngx-country-orders>
  </div>
</div> -->

<!-- <div class="row"> -->
<!-- <div class="col-xxl-9"> -->
<!-- <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics> -->
<!-- <ngx-user-pie-chart></ngx-user-pie-chart> -->
<!-- </div> -->

<!-- <div class="col-xxl-3"> -->
<!-- <ngx-user-activity></ngx-user-activity> -->
<!-- <ngx-progress-section></ngx-progress-section> -->
<!-- </div> -->
<!-- </div> -->
